<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="./img/user/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/header.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- swiper css link  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- cusom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="navcontainer">
        <div class="leftnav">
            <a href="/index"> <img class="logo" src="./img/user/RENTAL.png" alt=""></img></a>
        </div>
        <div class="midnav">
            <ul class="navitem">
                <!-- <li><a href="/">HOME</a></li> -->
                <li><a href="/artshop">ART GALLERY</a></li>
                <li><a href="/scrapshop">SCRAP SHOP</a></li> 
            </ul>
        </div>
        <div class="rightnav">
            <ul class="navitem">
                <% if(typeof logged !='undefined'){%>

                    <li><a href="/logout">LOGOUT</a></li>
             


               

                <li><a href="/subs">SUBSCRIPTION</a></li>



                <li><a href="/art/index">ART</a></li>

                <li><a href="/scrap/index">SCRAP</a></li>
                <li><a href="/test">Test</a></li>



                <%  } else{ %>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/test">Test</a></li>

                  <% } %>
            </ul>
        </div>
    </div>

</body>

</html>