
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: black;
}
/* filter starts */

form {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.2vw;
    margin: 50px auto auto auto;
    font-weight: 700;
    border: 0.5px rgb(233, 233, 233) solid;
    /* box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.24); */
    background-color: white;
    border-radius: none;

}

.formSelect1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.5px rgb(233, 233, 233) solid;
    width: 20%;
}

.label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
    margin-left: 3px;

}

.select2 {
    display: flex;
    justify-content: space-between;
    height: 40px;
    flex-wrap: wrap;
    width: auto !important;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
}
.select{
    height: 40px;
    width: 100px !important;
    margin: auto;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
}
::placeholder {
    color: black;
}

.bttn {
    line-height: 48px;
    border: none;
    color: white;
    background-color: #0036ce;
    padding: 10px 50px;
    /* border-radius: 0 180PX 180PX 0; */
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}






/* product starts */
.artcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px 50px 50px;
    justify-content: space-around;
  }
  .listing {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 9px 0px rgb(34 12 43 / 20%);
    padding: 10px 10px 10px 10px;
    height: 350px;
    width: 300px; /*max-content */
    /* margin: auto; */
    margin-top: 15px;
    /* flex: 0 0 24%; */
    overflow: hidden;
  }
  .listImg {
    padding: 6px;
    height:170px;
    width: 280px;
    display: block;
    margin: 0 auto 0 auto;
    object-fit:cover;
    object-position: top;
  }
  .listingBody {
    padding: 10px;
  }
  .listingTitle {
    font-size: 24px;
    line-height: 30px;
    height:60px;
    width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .listingPrice {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
  .listingBody2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
 .btn{
    line-height: 30px;
    border: none;
    color: white;
    background-color: #0036ce;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
 }