<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../login/css/style.css">
    <link rel="stylesheet" href="../css/header.css">

</head>
<body>
    <div class="navcontainer">
        <div class="leftnav">
            <a href="/index"> <img class="logo" src="../img/user/RENTAL.png" alt=""></img></a>
        </div>
        <div class="midnav">
            <ul class="navitem">
                <!-- <li><a href="/">HOME</a></li> -->
                <li><a href="/artshop">ART GALLERY</a></li>
                <li><a href="/scrapshop">SCRAP SHOP</a></li> 
            </ul>
        </div>
        <div class="rightnav">
            <ul class="navitem">
                <% if(typeof logged !='undefined'){%>
    
                    <li><a href="/signout">LOGOUT</a></li>
             
    
    
               
    
                <li><a href="/subs">SUBSCRIPTION</a></li>
    
    
    
                <li><a href="/art/index">ART</a></li>
    
                <li><a href="/scrap/index">SCRAP</a></li>
                <li><a href="/test">Test</a></li>
    
    
    
                <%  } else{ %>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/test">Test</a></li>
    
                  <% } %>
            </ul>
        </div>
    </div>
    

    <section class="register">


<h1>id is <%= uid %></h1>
    <form action="/notification/<%= uid %>" method="POST">
        <h3>Give your Details</h3>
        <input type="text" name="name" placeholder="enter your name" id="" class="box" required>
        <input type="email" name="email" placeholder="enter your email" id="" class="box" required>
        <input type="phone" name="phone" placeholder="enter phone number" id="" class="box" required>

        <input type="submit" value="register now" name="submit" class="btn">
    </form>

</section>

</body>
</html>














